.card-player-container {
  display: flex;
  overflow: hidden;
}

.card-wrapper {
  width: 170px;
  height: 380px;
  padding: 3px;
  box-sizing: border-box;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  background-color: #d39400
}

.card-player {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #061E4A 0%, #061E4A 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  box-shadow: inset 18px 0 30px -10px #d3940071,
    inset -18px 0 30px -10px #d3940071;
}

.img-card-player {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-player .title {
  color: white;
  font-size: 18px;
  text-align: center;
}

.badge-card-title {
  color: white;
  font-size: 12px;
}

.card-wrapper-notavail {
  width: 170px;
  height: 380px;
  box-sizing: border-box;
}

.player-not-available {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  background: linear-gradient(180deg, rgba(143, 143, 143, 0%) 0%, rgba(41, 41, 41, 0.5) 100%);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.text-player-notavail {
  font-size: 14px;
  color: white;
}


@media (min-width: 780px) and (max-width: 1020px) {

  .card-wrapper,
  .card-wrapper-notavail {
    transform: scale(0.9);
    transform-origin: center;
  }
}

@media (min-width: 480px) and (max-width: 780px) {

  .card-wrapper,
  .card-wrapper-notavail {
    transform: scale(0.8);
    transform-origin: center;
    height: 340px;
  }

  .text-player-notavail {
    font-size: 12px;

  }

  .img-card-notavail {
    width: 60px;
  }

  .card-player .title {
    font-size: 14px;
    text-align: center;
  }

  .badge-card-title {
    color: white;
    font-size: 10px;
  }
}

@media (min-width: 280px) and (max-width: 480px) {
  .card-wrapper,
  .card-wrapper-notavail {
    transform: scale(0.7);
    transform-origin: center;
    height: 320px;
  }

  .text-player-notavail {
    font-size: 12px;

  }

  .img-card-notavail {
    width: 60px;
  }

  .card-player .title {
    font-size: 14px;
    text-align: center;
  }

  .badge-card-title {
    color: white;
    font-size: 10px;
  }

}