.custom-offcanvas {
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    width: 500px !important; /* Set width to 500px */
}

.custom-offcanvas p,
.custom-offcanvas h5,
.custom-offcanvas .offcanvas-title {
    color: #ffffff; /* Ensure all text remains white */
}

.custom-offcanvas .btn-close {
    background-color: transparent; /* Make the background transparent */
    border: none; /* Remove any border */
    color: #ffffff; /* Set the close button icon color to white */
}

.custom-offcanvas .btn-close:hover {
    background-color: rgb(255, 255, 255); /* Light background on hover */
}

.custom-offcanvas .btn-close:focus {
    box-shadow: none; /* Remove default focus shadow */
}
/* HeaderNuca.css */
.header-nuca {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* Latar belakang transparan */
    z-index: 999; /* Agar berada di atas konten lainnya */
    padding: 10px 20px; /* Tambahkan sedikit padding */
}

.header-nuca img {
    cursor: pointer;
}

.header-nuca .row {
    margin: 0; /* Hapus margin */
}

/* Tambahan untuk menghindari konten overlap */
.room-ruca-container {
    padding-top: 80px; /* Beri padding pada container utama agar tidak tumpang tindih dengan header */
}
