.scrollable-container {
   user-select: none;
   cursor: grab;
   display: flex;
   overflow-x: auto;
   gap: 30px;
   padding: 10px 0;
   scrollbar-width: thin;
   scrollbar-color: #888 transparent;
}

.scrollable-container:active {
   cursor: grabbing;
}


.destination-card {
   width: auto;
   height: 60vh;
   display: flex;
   flex-direction: column;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 20px;
   overflow-y: hidden;
}

.destination-card img {
   width: 220px;
   padding-bottom: 20px;
   border-radius: 20px !important;
}

.destination-card .card-body {
   display: flex;
   flex-direction: column;
}

.destination-card .card-title {
   font-size: 1rem;
   font-weight: bold;
   margin-bottom: 10px;
}

.destination-card .card-text {
   font-size: 0.8rem;
   text-align: justify;
}