.player-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.player-item {
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 8px;
  flex-basis: 45%; 
  max-width: 45%;
  padding: 10px;
}

.player-item img {
  border: 3px solid #ffd700;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 60px;
  height: 60px;
}

.player-name {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Membuat nama tetap dalam satu baris */
}

/* Responsive styles */
/* Tablet landscape: 769px hingga 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .player-item img {
    width: 5vw;
    height: 5vw;
  }

  .player-name {
    font-size: 1.5vw;
  }
}

/* Phone landscape: 481px hingga 768px */
@media (min-width: 481px) and (max-width: 768px) {
  .player-item {
    flex-basis: 45%; /* Agar wrap terjadi dalam dua kolom */
    max-width: 45%;
  }

  .player-item img {
    width: 8vw;
    height: 8vw;
  }

  .player-name {
    font-size: 2vw;
    max-width: 60px;
  }
}

/* Phone portrait: hingga 480px */
@media (max-width: 480px) {
  .player-item {
    flex-basis: 45%; /* Agar wrap terjadi dalam dua kolom */
    max-width: 45%;
  }

  .player-item img {
    width: 12vw;
    height: 12vw;
  }

  .player-name {
    font-size: 2.5vw;
    max-width: 50px;
  }
}
