#detail-destination-container {
  background-image: url('../../assets/common/maps-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 100vh;
}

.destination-image .img-content {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  object-fit: cover;
}

.destination-details {
  background-color: rgba(0, 0, 0, 0.605);
  border-radius: 20px;
  color: #fff;
}

.destination-details p {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 1px
}

.destination-activities,
.destination-ticket,
.destination-facts,
.destination-culinary-recommendations,
.destination-play-instructions {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.605);
  border-radius: 20px;
}

.destination-activities h4,
.destination-ticket h4,
.destination-facts h4,
.destination-culinary-recommendations h4 ,
.destination-play-instructions h4 {
  font-weight: bolder;
  letter-spacing: 1px
}

.destination-activities ol,
.destination-ticket ol,
.destination-facts ol,
.destination-culinary-recommendations ol {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 1px
}

.destination-activities li,
.destination-ticket li,
.destination-facts li,
.destination-culinary-recommendations li {
  margin-bottom: 15px;
}

.destination-play-instructions p {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 1px
}

