#detail-destination-container {
  background-image: url('../../assets/common/maps-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.destination-image .img-content {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

.destination-details {
  background-color: rgba(0, 0, 0, 0.605);
  border-radius: 20px;
  color: #fff;
}

.destination-details p {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 1px
}

.destination-activities,
.destination-facts {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.605);
  border-radius: 20px;
}

.destination-activities h4,
.destination-facts h4 {
  font-weight: bolder;
  letter-spacing: 1px
}

.destination-activities ol,
.destination-facts ol {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 1px
}

.destination-activities li,
.destination-facts li {
  margin-bottom: 10px;

}

.destination-ticket {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.605);
  border-radius: 20px;
}

.destination-ticket h4 {
  font-weight: bolder;
  letter-spacing: 1px
}

.destination-ticket ol {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 1px
}

.destination-ticket li {
  margin-bottom: 10px;
}