.nuca-container {
  background-image: url('../../assets/common/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.deck-kiri-rotate {
  display: flex;
  align-items: center; /* Memastikan kartu berada di tengah */
  justify-content: center; /* Memastikan kartu berada di tengah */
  transform: rotate(90deg); /* Memutar 90 derajat */
  transform-origin: center; /* Mengatur titik pusat rotasi */
  height: 100px; /* Atur tinggi sesuai kebutuhan */
}

.deck-kanan-rotate {
  display: flex;
  align-items: center; /* Memastikan kartu berada di tengah */
  justify-content: center; /* Memastikan kartu berada di tengah */
  transform: rotate(270deg);
  transform-origin: center; /* Mengatur titik pusat rotasi */
  height: 100px; /* Atur tinggi sesuai kebutuhan */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.shuffle-rotate {
  animation: rotate 1.5s linear infinite;
}


@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.new-card {
  animation: slideIn 0.5s ease-in-out forwards;
}

.bottom-deck {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deck-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.deck-card:hover {
  transform: scale(1.05);
}

/* CSS Animasi */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.new-card {
  animation: slideIn 0.5s ease-in-out forwards; /* Animasi untuk kartu baru */
}

/* Styling untuk semua deck */
.deck-card {
  transition: transform 0.3s; /* Efek transisi untuk interaksi */
}

.deck-card:hover {
  transform: scale(1.05); /* Efek hover */
}

/* Mengatur posisi untuk deck kiri, kanan, dan atas */
.deck-left, .deck-right, .deck-top {
  margin: 10px;
  width: 200px; /* Sesuaikan lebar sesuai kebutuhan */
}
