html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.nuca-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.gameplay-container {
  flex-grow: 5;
  position: relative;
  width: 100%;
  height: calc(100% - 60px); /* Adjust based on your HeaderNuca height */
}

.deck-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck-wrapper.left {
  left: 5%;
  bottom: 80%;
  transform: translateY(-50%);
}

.deck-wrapper.center {
  left: 40%;
  top: 20%;
  display: flex;
}

.deck-wrapper.right {
  right: 15%;
  bottom: 80%;
  transform: translateY(-50%);
}

.deck-wrapper.bottom {
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

/* BottomDeckCard specific styles */
.bottom-card-deck {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Shuffle Icon Styles */
.shuffle-icon-container {
  position: absolute;
  top: 40%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.shuffle-icon {
  width: 310px;
  height: auto;
}

.shuffle-icon.rotating {
  animation: rotate 2s linear; /* Slower rotation, one complete rotation in 4 seconds */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


