.nuca-container {
  background-image: url('../../assets/common/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.shuffle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Tetap di tengah */
  width: 250px; /* Sesuaikan ukuran sesuai kebutuhan */
  height: auto;
  transition: transform 0.5s; /* Transisi yang halus saat tidak berputar */
  transform-origin: center; /* Mengatur titik pusat rotasi */
}

.rotating-once {
  animation: rotate 1s linear infinite; 
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Hanya berputar */
  }
  to {
    transform: rotate(360deg);
  }
}




/* CSS untuk spinner */
.loading-spinner .spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes rotate-once {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating-once {
  animation: rotate-once 3s ease-in-out; /* Mengubah durasi rotasi menjadi 3 detik */
}

.deck-kiri-rotate {
  display: flex;
  align-items: center; /* Memastikan kartu berada di tengah */
  justify-content: center; /* Memastikan kartu berada di tengah */
  transform: rotate(90deg); /* Memutar 90 derajat */
  transform-origin: center; /* Mengatur titik pusat rotasi */
  height: 100px; /* Atur tinggi sesuai kebutuhan */
}

.deck-kanan-rotate {
  display: flex;
  align-items: center; /* Memastikan kartu berada di tengah */
  justify-content: center; /* Memastikan kartu berada di tengah */
  transform: rotate(-90deg); /* Memutar 90 derajat */
  transform-origin: center; /* Mengatur titik pusat rotasi */
  height: 100px; /* Atur tinggi sesuai kebutuhan */
}
