html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.nuca-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}


/* Shuffle Icon Styles */
.shuffle-icon-container {
  position: absolute;
  top: 40%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.shuffle-icon {
  width: 250px;
  height: auto;
}

.shuffle-icon.rotating {
  animation: rotate 2s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
