html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.nuca-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}


.shuffle-icon-container {
  position: absolute;
  top: 40%;
  left: 47%;
  z-index: 1000;
}

.shuffle-icon {
  width: 200px;
  height: 200px;
}

.shuffle-icon.rotating {
  animation: rotate 2s linear; /* Slower rotation, one complete rotation in 4 seconds */
}

/* @keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
