html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.nuca-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}


.shuffle-icon-container {
  position: fixed; /* Tetap di layar, meskipun di-scroll */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000; /* Pastikan berada di atas elemen lain */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(260deg);
  }
}

.shuffle-icon.rotating {
  animation: rotate 2s linear; /* 2 detik untuk satu putaran */
}

/* CSS untuk spinner */
.loading-spinner .spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

