.lobbyroom-container {
    background-image: url('../../assets/common/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

.lobby-container {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 100%; /* Mengatur tinggi agar mengisi kontainer dengan benar */
}

.player-slots {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 50px;
}

.player-slot {
    width: 307px; 
    height: 625px; 
    object-fit: contain; 
}

.start-button {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover effect */
.start-button:hover {
    transform: scale(1.05); /* Sedikit memperbesar tombol */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Memberikan bayangan */
    cursor: pointer; /* Mengubah kursor jadi pointer */
}

/* Active/pressed effect */
.start-button:active {
    transform: scale(0.95); /* Memperkecil tombol saat ditekan */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Mengurangi bayangan saat ditekan */
}

/* Style for h1 (ROOM 1) */
h1 {
    color: white; /* Warna putih untuk teks */
    text-align: center; /* Posisikan teks di tengah secara horizontal */
    margin-top: 10px; /* Jarak dari atas halaman */
    font-size: 2rem; /* Ukuran font */
}

/* Chatbox container */
.chatbox-container {
    display: flex;
    justify-content: flex-start; /* Tempatkan di kiri bawah tombol START */
    align-items: center;
}

/* Style untuk ChatBox */
.chat-box {
    width: 574px;
    height: 61px;
    object-fit: contain;
    transform: scale(0.6); /* Sesuaikan nilai skala sesuai kebutuhan */
    transform-origin: top left; /* Untuk memastikan skala dimulai dari sudut kiri atas */
}
