.lobbyroom-container {
    background-image: url('../../assets/common/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}
.start-button-container {
    margin-top: 30px;
    text-align: center;
}

.start-button {
    justify-content: center;
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 10px 60px; 
    border-radius: 0px; 
    font-size: 30px; 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.start-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.start-button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.chat-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 50px; /* Tambahkan gap 40px dari atas */
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    width: 500px;  /* Lebar diubah menjadi 500px */
    height: auto;  /* Tinggi diatur kembali ke auto untuk menyesuaikan konten */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;  /* Ini akan membuat container berada di tengah kolom jika kolomnya lebih lebar */
  }
  
  .chat-input-form {
    width: 500px;
    display: flex;
    padding: 10px;
  }
  
  .chat-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
  }
  
  .send-button {
    width: 70px;
  }
  