.nuca-container {
  background-image: url('../../assets/common/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.shuffle-rotate {
  animation: rotate 0.5s linear forwards; /* Ensure you have the 'forwards' property */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Starting position */
  }
  100% {
    transform: rotate(-90deg); /* Full reverse rotation */
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.new-card {
  animation: slideIn 0.5s ease-in-out forwards;
}

.bottom-deck {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deck-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.deck-card:hover {
  transform: scale(1.05);
}

/* CSS Animasi */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.new-card {
  animation: slideIn 0.5s ease-in-out forwards; /* Animasi untuk kartu baru */
}

/* Styling untuk semua deck */
.deck-card {
  transition: transform 0.3s; /* Efek transisi untuk interaksi */
}

.deck-card:hover {
  transform: scale(1.05); /* Efek hover */
}

/* Timer Overlay dengan Desain Lebih Menarik */
.timer-overlay {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  color: #fff;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.2s ease;
}

.position-absolute {
  z-index: 10;
}

.feedback-icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: none;
}

.feedback-icon-profile {
  width: 100px;
  height: 100px;
  animation: feedbackProfileAnimation 0.5s ease-in-out;
}

@keyframes feedbackProfileAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}