#profile-container {
   background-image: url('../../assets/common/maps-bg.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   overflow: hidden;
   min-height: 100vh;
}

.profile-card,
.profile-card-achievement {
   background-image: url('../../assets/common/water-bg.png');
   background-size: cover;
   padding: 10px;
   background-position: center;
   height: 80vh;
   max-height: 100%;
   border: 3px solid #4d4d4dba;
   border-radius: 30px;
   flex-grow: 1;
   overflow-y: hidden;
}

.profile-card-content {
   border: 3px solid #4D4C4C;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   height: 100%;
   overflow: hidden;
}

.profile-info .user-img-profile {
   border-radius: 100%;
}

.profile-info h1 {
   font-size: 1.4rem;
   font-weight: bolder;
}

.profile-info p {
   font-size: 1rem;
   color: #b1b1b1;
   text-indent: inherit;
}

.profile-card-content .btn-edit,
.profile-card-content .btn-logout {
   padding: 6px 50px;
   border-radius: 20px;
}

.profile-card-content .btn-edit {
   background-color: #0C48A8;
   border: none;
}

.profile-card-content .btn-edit:hover {
   background-color: #073276;
   border: none;
}

.profile-card-content .btn-logout {
   background-color: #f37070;
   border: none;
}

.profile-card-content .btn-logout:hover {
   background-color: #fe4545;
   border: none;
}

/* achievement content */
.profile-card-achievement-content {
   height: 80vh;
   max-height: 100%;
   padding: 20px 25px;
   border: 3px solid #4D4C4C;
   border-radius: 20px;
   overflow-y: auto;
}

/* for badge user */
.badge-container {
   gap: 20px;
}

.badge-item {
   flex-basis: calc(20% - 20px);
   display: flex;
   justify-content: center;
}

.badge-image-user {
   width: 80px;
   transition: transform 0.3s ease-in-out;
   transform-origin: center;
}

.badge-image-user:hover {
   transform: scale(1.1);
}

/* For achievement user */
.achievement-container {
   gap: 20px;
}

.achievement-item {
   background-color: #3871CF;
   padding: 15px 10px;
   border: 3px solid #d4a645;
   border-radius: 20px;
   display: flex;
   flex-direction: center;
   align-items: start;
   justify-content: start;
   width: calc(50% - 10px);
   min-height: 5px;
}

/* Scrollbar styling */
.profile-card-achievement-content::-webkit-scrollbar {
  width: 8px;
}

.profile-card-achievement-content::-webkit-scrollbar-track {
  background: transparent;
}

.profile-card-achievement-content::-webkit-scrollbar-thumb {
  background-color: #ffffff42;
  border-radius: 6px;
}

.profile-card-achievement-content::-webkit-scrollbar-thumb:hover {
  background-color: rgb(111, 219, 227);
}

/* Modal Section */
#modal-edit-profile .modal-content {
   color: #00000087;
   font-weight: bold;
   background-color: #dad8c1;
   border: 3px solid #898879;
   border-radius: 20px;
   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.957),
      0 0 20px rgba(70, 70, 70, 0.616);
}

#modal-edit-profile .modal-footer {
   display: flex;
   justify-content: center;
   padding: 1rem 0;
}

#modal-edit-profile .modal-footer .btn-edit-profile {
   width: 100%;
}

#modal-edit-profile .modal-footer .btn-edit-profile {
   background-color: #a9a9a9;
   border: 2px solid #000f2a;
   border-radius: 20px;
   color: #ffffff;
   font-weight: bold;
   font-size: 1.1rem;
}

#modal-edit-profile .modal-footer .btn-edit-profile:hover {
   background-color: #f3f3f300;
   border: 2px solid #000f2a;
   color: #00000087;
}