.lobbyroom-container {
  background-image: url('../../assets/common/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn-start-game {
  width: 100%;
  max-width: 300px;
  border: 4px solid;
  padding: 10px 40px;
  background-color: transparent;
  border-image: linear-gradient(354deg, rgba(92, 136, 196, 1) 0%, rgba(111, 220, 227, 1) 52%, rgba(213, 212, 188) 100%) 1;
  color: white;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1.2px;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-start-game:hover {
  background-color: rgba(57, 115, 211, 0.4) !important;
  box-shadow: 0 0 20px 2px rgba(111, 220, 227, 0.8);
}

.btn-start-game:active {
  background-color: rgba(218, 218, 218, 0.8);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

.btn-start-game .icon-start {
  width: 28px;
}

/* Chat input style section */
.chat-wrapper {
  padding: 30px 20px 20px 20px;
  width: 100%;
}

.chat-input-form {
  z-index: 2;
}

.btn-chat-box {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 2;
}

.btn-chat-box svg {
  width: 22px;
  color: white;
}

.btn-chat-box:hover svg {
  color: rgba(111, 220, 227, 1);
}

.chat-input {
  padding: 12px 45px;
  font-size: 14px;
  border: 3px solid #ffffff42;
  background-color: rgba(57, 115, 211, 0.4);
  color: #fff;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.chat-input:focus {
  outline: none;
  box-shadow: none;
  color: #fff;
  border-color: rgba(111, 220, 227, 1);
  background-color: rgba(57, 115, 211, 0.4);
}

.chat-input::placeholder {
  color: rgba(255, 255, 255, 0.539);
  opacity: 1;
}

.btn-send-chat {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.btn-send-chat svg {
  width: 22px;
  color: white;
}

.btn-send-chat:hover svg {
  color: rgba(111, 220, 227, 1);
}

/* Chat Box Style Section */
.chat-box {
  position: absolute;
  left: 50%;
  top: -200px;
  height: 200px;
  width: 99%;
  transform: translateX(-50%) translateY(0);
  overflow-y: auto;
  padding: 10px 13px;
  border: 3px solid #7878784c;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  color: white;
  background-color: rgba(57, 115, 211, 0.4);
  white-space: normal;
  word-wrap: break-word;
  z-index: 1;
}

/* Styling Scrollbar */
.chat-box::-webkit-scrollbar {
  width: 8px;
}

.chat-box::-webkit-scrollbar-track {
  background: transparent;
}

.chat-box::-webkit-scrollbar-thumb {
  background-color: #ffffff42;
  border-radius: 6px;
}

.chat-box::-webkit-scrollbar-thumb:hover {
  background-color: rgb(111, 219, 227);
}

.chat-message {
  margin-bottom: 6px;
  letter-spacing: 0.8px;
  font-size: 14px;
}

.sender-name {
  color: #ffffff;
  font-weight: bold;
}

/* Responsive style */
@media (min-width: 780px) and (max-width: 1020px) {
  .btn-start-game {
    padding: 12px 30px;
    font-size: 20px;
    max-width: 280px;
  }
}

@media (min-width: 580px) and (max-width: 780px) {
  .btn-start-game {
    padding: 10px 20px;
    font-size: 18px;
    max-width: 260px;
  }

  .chat-box::-webkit-scrollbar {
    width: 6px;
  }

  .chat-message {
    font-size: 13px;
  }
}

@media (min-width: 280px) and (max-width: 580px) {
  .btn-start-game {
    padding: 8px 12px;
    font-size: 16px;
    max-width: 200px;
  }

  .chat-box::-webkit-scrollbar {
    width: 6px;
  }

  .chat-message {
    font-size: 12px;
  }
}