.room-utangga-container {
    background-image: url('../../assets/general/roombg.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 135px;
    color: white;
  }
  
  .room-utangga-container h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  
  .room-utangga-container p, 
  .room-utangga-container ol {
    padding-left: 0;
    margin-left: 5px;
  }
  
  .room-utangga-container li {
    margin-bottom: 5px;
    font-size: 1.25rem;
  }
  
  .room-utangga-logo {
    width: 500px;
    max-width: 650px;
    height: auto;
    margin-right: 100px;
  }