.lobbyroom-container {
  background-image: url('../../assets/common/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.desc-title p {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Tambahkan shadow */
}

.btn-start-game {
  width: 100%;
  max-width: 300px;
  border: 4px solid;
  padding: 10px 40px;
  background-color: transparent;
  border-image: linear-gradient(354deg, rgba(92, 136, 196, 1) 0%, rgba(111, 220, 227, 1) 52%, rgba(213, 212, 188) 100%) 1;
  color: white;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1.2px;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-start-game:hover {
  background-color: rgba(57, 115, 211, 0.4) !important;
  box-shadow: 0 0 20px 2px rgba(111, 220, 227, 0.8);
}

.btn-start-game:active {
  background-color: rgba(218, 218, 218, 0.8);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

.btn-start-game .icon-start {
  width: 28px;
}

/* Responsive style */
@media (min-width: 780px) and (max-width: 1020px) {
  .desc-title p {
    font-size: 18px;
  }

  .btn-start-game {
    padding: 12px 30px;
    font-size: 20px;
    max-width: 280px;
  }
}

@media (min-width: 580px) and (max-width: 780px) {
  .desc-title p {
    font-size: 16px;
  }

  .btn-start-game {
    padding: 10px 20px;
    font-size: 18px;
    max-width: 260px;
  }

  .chat-box::-webkit-scrollbar {
    width: 6px;
  }

  .chat-message {
    font-size: 13px;
  }
}

@media (min-width: 280px) and (max-width: 580px) {
  .desc-title p {
    font-size: 14px;
  }

  .btn-start-game {
    padding: 8px 12px;
    font-size: 16px;
    max-width: 200px;
  }

  .chat-box::-webkit-scrollbar {
    width: 6px;
  }

  .chat-message {
    font-size: 12px;
  }
}
