/* General Styles */
.lobbyroom-container {
  background-image: url('../../assets/common/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.start-button {
  background-color: #007bff;
  color: white;
  display: inline-flex;
  border: none;
  padding: 10px 60px;
  border-radius: 15px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.start-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.start-button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.chat-column {
  max-width: 340px;
  border-radius: 12px;
  background-color: #007bff;
  transition: height 0.3s ease, width 0.3s ease;
  pointer-events: auto;
  position: relative;
  cursor: pointer;
}

.chat-box {
  display: auto;
  flex-direction: column-reverse; /* Keeps the input at the bottom */
  width: 100%;
  position: relative;
  overflow: hidden;
}

.collapsed {
  height: 6px;
  width: 300px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.expanded {
  height: 150px;
  width: 300px;
  transition: height 0.3s ease-in-out;
}

.chat-messages {
  padding: 10px, 8px;
  overflow-y: auto;
  flex-grow: 1;
  max-height: 0; /* Default collapsed state */
  transition: max-height 0.3s ease-in-out;
}

.expanded .chat-messages {
  max-height: 300px; /* Expanded height for messages */
}

.chat-input-form {
  color: #fff;
  background-color: #007bff;
  padding: 10px;
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.chat-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  flex-grow: 1;
}

.send-button {
  border-radius: 12px;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 5px;
}

.send-button:hover {
  background-color: #004494;
}

