/* Ensure the background image is set correctly */
.utangga-container {
  background-image: url('../../assets/common/bg-ular.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

/* Ensure proper layout for header and game board */
.utu-container-left {
  display: flex;
  justify-content: flex-start;
  padding: 20px; 
}

/* Ensure Konva canvas container is positioned correctly */
.utu-konva {
  position: relative;
}

/* Styling for player turn box */
.player-turn-box {
  
  width: 500px;
  height: 300px;
  background-color: #3971D0; /* Dark blue */
  color: white;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Ensure no margin-top issues */
  margin: 20px auto;
}

.player-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-item {
  margin-bottom: 10px;
}

.player-item img {
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player-item span {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-left: 10px;
}