.utangga-container {
  background-image: url('../../assets/common/bg-ular.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}
.utu-container-left {
  display: flex;
  justify-content: flex-start; /* Mengatur posisi ke kiri */
  padding: 20px; /* Menambahkan padding jika diperlukan */
}

.utu-konva {
  position: relative; /* Posisi relatif jika ingin mengatur lebih lanjut */
}
