.utangga-container {
  background-image: url('../../assets/common/bg-ular.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 100vh;
}

/* Style timer untuk player */
.timer-player {
  background: linear-gradient(135deg, #3b82f6, #60a5fa, #93c5fd);
  border-radius: 12px;
  padding: 2px 20px;
  animation: pulse 1.2s infinite alternate;
  box-shadow: 0px 8px 20px rgba(59, 130, 246, 0.4);
  transition: background 0.5s ease-in-out;
}

.timer-count {
  font-size: 20px;
  font-weight: bold;
  color: #e0f2fe;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation: colorChange 10s linear infinite;
}

.timer-text {
  font-size: 18px;
  font-weight: 600;
  color: #ffffffac;
}

/* Style Timer Untuk Game */
.game-timer-display {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e0f2fe;
  font-weight: bold;
}

.game-time-text {
  font-size: 24px;
  margin-right: 8px;
}

.game-time-label {
  font-size: 18px;
  opacity: 0.8;
}

.you-lose-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.you-lose-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}


/* Animasi Pulse */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0px 5px 15px rgba(59, 130, 246, 0.2);
  }

  100% {
    transform: scale(1.05);
    box-shadow: 0px 8px 25px rgba(59, 130, 246, 0.5);
  }
}

/* Responsive styles */
/* Tablet landscape: 769px hingga 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .utu-container-board {
    flex-direction: row;
    padding: 10px;
  }

  .timer-player {
    font-size: 1.5vw;
  }

}

/* Phone landscape: 481px hingga 768px */
@media (min-width: 481px) and (max-width: 768px) {
  .utu-container-board {
    flex-direction: row;
    padding: 8px;
  }

  .utu-konva {
    max-width: 100%;
    padding: 10px;
  }

  .timer-player {
    font-size: 2vw;
  }
}

/* Phone portrait: hingga 480px */
@media (max-width: 480px) {
  .utu-container-board {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .utu-konva {
    width: 100%;
  }

  .timer-player {
    font-size: 3vw;
  }
}