.stackable-cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.stackable-cards .card {
  position: relative;
  margin-left: -30px;
  transition: transform 0.3s ease, z-index 0.3s;
  cursor: pointer;
}

.stackable-cards .card:hover {
  transform: translateY(-10px) scale(1.05);
  z-index: 10;
}

.card-custom {
  width: 150px;
  height: 180px;
  border-radius: 10px;
  padding: 0.5rem;
  border: 5px solid white;
  background-color: orange;
  display: flex;
}