.player-deck {
  display: flex;
  justify-content: center; /* Ensures center card is in the middle */
  align-items: center;
  position: relative;
}

.card-stack {
  position: relative;
  width: 60px;
  height: 90px;
}

.card {
  position: absolute;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}

.cards-to-add {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

