.deck-container {
  display: flex;
  height: 150px;
}

.card-stack {
  position: relative;
  margin-left: -20px;
}

.card-stack img {
  position: absolute;
  bottom: 0;
  transition: transform 0.2s;
  width: 100px; /* Atur lebar gambar yang lebih besar */
  height: auto; /* Sesuaikan tinggi secara otomatis */
}
