.dice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* perspective: 1000px; */
}

.dice {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    border-radius: 10px;
}

.dice .front {
    transform: rotateY(0deg) translateZ(50px);
}

.dice .back {
    transform: rotateY(180deg) translateZ(50px);
}

.dice .left {
    transform: rotateY(-90deg) translateZ(50px);
}

.dice .right {
    transform: rotateY(90deg) translateZ(50px);
}

.dice .top {
    transform: rotateX(90deg) translateZ(50px);
}

.dice .bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

.dot {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.roll-button {
    width: auto;
}