.custom-offcanvas {
    background-color: rgba(0, 0, 0, 0.5); 
    width: 500px !important; 
}

.custom-offcanvas p,
.custom-offcanvas h5,
.custom-offcanvas .offcanvas-title {
    color: #ffffff;
}

.custom-offcanvas .btn-close {
    background-color: transparent;
    border: none; 
    color: #ffffff; 
}

.custom-offcanvas .btn-close:hover {
    background-color: rgba(255, 255, 255, 0.244); 
}

.custom-offcanvas .btn-close:focus {
    box-shadow: none; 
}
