.timer-box {
    width: 50%; /* This ensures the container takes full width of its parent */
    text-align: center;
    margin-bottom: 15px;
  }
.progress-bar {
    height: 20px; /* Adjust the height if needed */
    background-color: #e0e0e0; /* Light background for the bar */
    border-radius: 10px; /* Optional: rounded corners */
    overflow: hidden;
  }

  